.tel-box{
    color: rgb(41,176,120);
    width: 100%;
    height: 1.5em;
    padding: 1.2em;
    font-size: .8vw;
    font-family: 微软雅黑 sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.telnb{
    text-align: center;
    padding-left: 15vw;
}
.tel-img{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-right: 15vw;
}
.wechat,.qq,.weblog{
    background-size: 100%;
    width: 1.5em;
    margin: 0 .5em;
    padding-bottom: 1.5em;
    border: thin solid rgb(41,176,120);
    border-radius: 50%;
}
.wechat{
    background: url("images/技能树首页_03.png") no-repeat center;
}
.qq{
    background: url("images/技能树首页_05.png") no-repeat center;
}
.weblog{
    background: url("images/技能树首页_07.png") no-repeat center;
}
.header{
    width: 100%;
    background-color: rgb(41,176,120);
    padding-bottom: 3.6em;
}
.head-box{
    width: 25em;
    margin-right: 15em;
    float: right;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: .78em;
}
.proj1{
    padding:1.5em;
    border-bottom: .2em solid #FFFFFF;
    color: #FFFFFF;
}
.proj{
    padding: 1.5em;
    color: #FFFFFF;
}
.carousel{
    position: relative;
}
.carousel-control{
    padding-top: 20%;
}
.banner-text-box{
    width: 80vw;
    margin:0 10vw;
    height: 34vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.banner-text{
    color: #FFFFFF;
}
.cirle{
    margin: 0.2vw;
    width: .8vw;
    padding-bottom: .8vw;
    border: thin solid #cccccc;
    border-radius: 50%;
    float: left;
}
.cont-box{
    width: 100%;
    padding-left: 15vw;
    padding-right: 15vw;
    background-color: rgb(250,250,250);
}
.container-fluid{
    margin: 2em 5vw;
}
.row{
    margin: 0 auto;
}
.col-md-3{
    margin-top: .5em;
}
.hts,.sts,.log,.fre{
    padding: 4em;
}
.hts-cont{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 15vw;
}
.hts-circle{
    width: 3em;
    height: 3em;
    border: thin solid #c0c0c0;
    border-radius: 50%;
    text-align: center;
    float: left;
    padding: 0.8em;
    color: rgb(41,176,120);
}
.hts-text{
    padding:1em 1vw 0 1vw;
    height: 3em;
    font-size: .5em;
    color: rgb(153,153,153);
    text-align: left;
}
.hts-img{
    width: 3em;
    padding-bottom: 3em;
    background: url("images/技能树首页_29.png") no-repeat center;
    float: left;
}
.sts-img1{
    background: url("images/技能树首页_39.png") no-repeat center;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin: 0 auto;
}
.sts-img2{
    background: url("images/技能树首页_36.png") no-repeat center;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin: 0 auto;
}
.sts-img3{
    background: url("images/技能树首页_33.png") no-repeat center;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin: 0 auto;
}
.sts-img4{
    background: url("images/技能树首页_41.png") no-repeat center;
    border-radius: 50%;
    height: 4em;
    width: 4em;
    margin: 0 auto;
}
.sts-circle{
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    padding: 1em 0;
}
.circle1{
    margin: 0.2em;
    width: .8em;
    padding-bottom: .8em;
    border: thin solid #cccccc;
    border-radius: 50%;
    float: left;
    background-color: rgb(41,176,120);
}
.circle2,.circle3,.circle4{
    margin: 0.2em;
    width: .8em;
    padding-bottom: .8em;
    border: thin solid #cccccc;
    border-radius: 50%;
    float: left;
}
.logo{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.ali{
    width: 8em;
    padding-bottom: 4em;
    background: url("images/技能树首页_51.png") no-repeat center;
}
.jins{
    width: 8em;
    padding-bottom: 4em;
    background: url("images/技能树首页_54.png") no-repeat center;
}
.huanx{
    width: 8em;
    padding-bottom: 4em;
    background: url("images/技能树首页_58.png") no-repeat center;
}
.rongl{
    width: 8em;
    padding-bottom: 4em;
    background: url("images/技能树首页_60.png") no-repeat center;
}
.qin{
    width: 8em;
    padding-bottom: 4em;
    background: url("images/技能树首页_63.png") no-repeat center;
}
.lint{
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
}
.lin1{
    padding-bottom: 1em;
    color: rgb(153,153,153);
}
.footer-box{
    width: 100%;
    background-color: rgb(38,162,111);
    padding: 8vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #FFFFFF;
    position: relative;
    font-size: .8vw;
}
.footer-text{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    font-size: .8vw;
}
.text-left{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-right: 1vw;
}
.text-right{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 1vw;
}
.web{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 18vw;
}
.webinf{
    width: 100%;
    position: absolute;
    bottom: .5vw;
    left: 0;
    text-align: center;
    font-size: .5vw;
}
.tel-hide-box{
    color: black;
    float: right;
    display: none;
}
.header-hide-logo {
    background: url("images/技能树首页_00.png") no-repeat center;
    background-size: 100%;
    width: 50vw;
    float: left;
    margin-left: 5vw;
    padding-bottom: 3.6em;
    display: none;
}
.header-hide-menu{
    display: none;
}
.menu-icon{
    width: 5vw;
    height: 3.5vw;
    border-top: .5vw solid #555555;
    border-bottom:.5vw solid #555555;
    background-color: #555555;
    padding: 1vw 0;
    margin-top: 6vw;
    margin-right: 5vw;
    background-clip:content-box;
    float: right;
}
@media screen and (max-device-width: 420px){
    .telnb,.wechat,.qq,.weblog,.proj1,.proj{
        display: none;
    }
    .tel-hide-box,.header-hide-logo,.header-hide-menu{
        display: block;
    }
    .hts-cont,.row{
        display: block;
    }
    .hts-text{
        height: 10em;
    }
    .logo{
        display: block;
        padding-left: 15vw;
    }
    .web{
        display: block;
    }
    .footer-box{
        padding: 10vw 8vw;
    }
}
